<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositório Intelecttus</title>
    <link rel="stylesheet" href="../static/repo.css">
</head>
<header class="header-container">
    <div id="mid-items">
        <h2 class="titulo">Portifólio</h2>
        <p><img src="../assets/Vector.svg" alt="Imagem Infinito"></p>
        <h2 class="titulo">Infinito</h2>
    </div>
    <div id="right-items">
        <a href="https://github.com/DiegoCheib">Github</a>
        <a href="https://www.linkedin.com/in/diego-cheib/">LinkedIn</a>
    </div>
</header>

<body>
    <div class="repo-titulo">
        <h2>Repositório: Emails-Trigger</h2>
        <button onclick=window.history.back()>
            Voltar
        </button>
    </div>
    <div class="repo-container">
        <div class="desc">
            <h2>Descrição</h2>
            <p>O PetShop é um e-commerce dedicado ao cuidado e bem-estar dos seus animais de estimação. Oferecemos uma variedade de
                produtos de alta qualidade, desde alimentos e brinquedos até acessórios e medicamentos. Além disso, disponibilizamos
                serviços de banho e tosa com profissionais altamente qualificados, garantindo que seu pet esteja sempre saudável e
                feliz. Navegue pelo nosso site e descubra tudo o que podemos oferecer para o seu melhor amigo.</p>
        </div>
        <div class="data-criacao">
            <h2>Data de Criação: 28/07/2023 - Data de Finalização: 23/08/2023</h2>
        </div>
        <div class="linguagem">
            <h2>Especificações:</h2>
            <div class="especificacoes">
                <ul>
                    <li><img src="../assets/python-logo.svg" alt="Python-Logo"></li>
                    <li><img src="../assets/JavaScript.svg" alt="JavaScript-Logo"></li>
                    <li><img src="../assets/django-logo.svg" alt="Django-Logo"></li>
                    <li><img src="../assets/docker-logo.svg" alt="Docker-Logo"></li>
                </ul>
                <button class="link-git">
                    <a href="https://github.com/roberto-fernandino/petshop">Repositório Git</a>
                </button>
            </div>
        </div>

    </div>


</body>

</html>