<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositório Intelecttus</title>
    <link rel="stylesheet" href="../static/repo.css">
</head>
<header class="header-container">
    <div id="mid-items">
        <h2 class="titulo">Portifólio</h2>
        <p><img src="../assets/Vector.svg" alt="Imagem Infinito"></p>
        <h2 class="titulo">Infinito</h2>
    </div>
    <div id="right-items">
        <a href="https://github.com/DiegoCheib">Github</a>
        <a href="https://www.linkedin.com/in/diego-cheib/">LinkedIn</a>
    </div>
</header>

<body>
    <div class="repo-titulo">
        <h2>Repositório: Emails-Trigger</h2>
    </div>
    <div class="repo-container">
        <div class="desc">
            <h2>Descrição</h2>
            <p> Emails Triggler é uma aplicação criado para envio de emails automático para um banco de dados pré-existente de clientes, com o intuito de manter um contato mais próximo com os clientes e aumentar a fidelidade dos mesmos.
            </p>
        </div>
        <div class="data-criacao">
            <h2>Data de Criação: 06/08/2023 - Data de Finalização: 12/04/2024</h2>
        </div>
        <div class="linguagem">
            <h2>Especificações:</h2>
            <ul>
                <li><img src="../assets/python-logo.svg" alt="Python-Logo"></li>
            </ul>
            <button class="link-git">
                <a href="https://github.com/DiegoCheib/Emails-Trigger">Repositório Git</a>
            </button>
        </div>

    </div>


</body>

</html>