<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositório Intelecttus</title>
    <link rel="stylesheet" href="../static/repo.css">
</head>
<header class="header-container">
    <div id="mid-items">
        <h2 class="titulo">Portifólio</h2>
        <p><img src="../assets/Vector.svg" alt="Imagem Infinito"></p>
        <h2 class="titulo">Infinito</h2>
    </div>
    <div id="right-items">
        <a href="https://github.com/DiegoCheib">Github</a>
        <a href="https://www.linkedin.com/in/diego-cheib/">LinkedIn</a>
    </div>
</header>

<body>
    <div class="repo-titulo">
        <h2>Repositório: Intelecttus .Inc</h2>
        <button onclick=window.history.back()>
            Voltar
        </button>
    </div>
    <div class="repo-container">
        <div class="desc">
            <h2>Descrição</h2>
            <p>Intelecttus é uma plataforma dedicada ao estudo e acompanhamento do desenvolvimento pessoal do aluno.
                Focada em notas
                de redações do ENEM e provas com questões do ENEM, a plataforma oferece um ambiente de aprendizado
                robusto e
                personalizado para maximizar o desempenho do aluno, com ajuda de gráficos e IA para esta melhora.
            </p>
        </div>
        <div class="data-criacao">
            <h2>Data de Criação: 20/08/2023 - Até hoje em funcionamento - Repositório Privado pela Empresa</h2>
        </div>
        <div class="linguagem">
            <h2>Especificações:</h2>
            <div class="especificacoes">
                <ul>
                    <li><img src="../assets/react-logo.svg" alt="React-Logo"></li>
                    <li><img src="../assets/django-logo.svg" alt="Django-Logo"></li>
                    <li><img src="../assets/docker-logo.svg" alt="Docker-Logo"></li>
                    <li><img src="../assets/python-logo.svg" alt="Python-Logo"></li>
                    <li><img src="../assets/JavaScript.svg" alt="Javascript-Logo"></li>
                </ul>
            </div>
        </div>

    </div>


</body>

</html>